@import "tailwindcss";

@theme {
  --color-brand-dark: #282C20;
  --color-brand-neon: #D2FF00;
  --color-brand-light: #F4F4ED;

  --font-sans: var(--font-space-grotesk), ui-sans-serif, system-ui, sans-serif;
}

/* Custom Base Styles */
body {
  @apply bg-brand-dark text-brand-light overflow-x-hidden;
  background-image:
    radial-gradient(circle at 50% 0%, rgba(210, 255, 0, 0.03) 0%, transparent 50%),
    linear-gradient(rgba(255, 255, 255, 0.02) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255, 255, 255, 0.02) 1px, transparent 1px);
  background-size: 100% 100%, 40px 40px, 40px 40px;
}

/* Utilities */
@utility text-neon {
  color: var(--color-brand-neon);
}

@utility text-outline {
  -webkit-text-stroke: 1px var(--color-brand-light);
  color: transparent;
}

@keyframes noise {
  0% { transform: translate(0,0) }
  10% { transform: translate(-5%,-5%) }
  20% { transform: translate(-10%,5%) }
  30% { transform: translate(5%,-10%) }
  40% { transform: translate(-5%,15%) }
  50% { transform: translate(-10%,5%) }
  60% { transform: translate(15%,0) }
  70% { transform: translate(0,10%) }
  80% { transform: translate(-15%,0) }
  90% { transform: translate(10%,5%) }
  100% { transform: translate(5%,0) }
}

@utility animate-noise {
  animation: noise 0.2s infinite;
}